{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}



<!-- Main navigation -->
<div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">

            <!-- Main -->
            <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
            <li><a href="{% url 'adm_interface:main' %}"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
            <li><a href="{% url 'adm_interface:domain' %}"><i class="icon-popout"></i> <span>Domains</span></a></li>
            <li class="active "><a href="#"><i class="icon-file-css"></i> <span>Document</span></a></li>
            <li><a href="{% url 'adm_interface:url' %}"><i class="icon-select2"></i> <span>URLs</span></a></li>
            <!-- /main -->


        </ul>
    </div>
</div>
<!-- /main navigation -->
     </div>
   </div>          
<!-- /main sidebar -->
<!-- Main content -->
<div class="content-wrapper">

    <!-- Page header -->
    <div class="page-header page-header-default">
        <div class="page-header-content">
            <div class="page-title">
                <h4><i class="icon-file-css position-left"></i> <span class="text-bold">Document</span></h4>
            </div>
        </div>

        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a href="{% url 'adm_interface:main' %}"><i class="icon-home2 position-left"></i> Home</a></li>
                <li class="active">Documents</li>
            </ul>
        </div>

    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">

        <!-- Dashboard content -->
        

        <div class="row">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">News Details</h5>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body">This table displays the sanitised news here<br /></div>

                <table class="table datatable-basic table-hover ">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>News Topic</th>
                            <th>News</th>
                            <th>Published Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for doc in doc_list %}
                        <tr>
                            <td>{{doc.id}}</td>
                            <td>{{doc.processed_news_topic}}</td>
                            <td>{{doc.processed_news_description}}</td>
                            <td>{{doc.scrape_date_stamp}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    <!-- /dashboard content -->
    <br /><br />



{% endblock %}
