{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}



<!-- Main navigation -->
<div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">

            <!-- Main -->
            <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
            <li><a href="{% url 'adm_interface:main' %}"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
            <li><a href="{% url 'adm_interface:domain' %}"><i class="icon-popout"></i> <span>Domains</span></a></li>
            <li class="active "><a href="#"><i class="icon-file-css"></i> <span>Document</span></a></li>
            <li><a href="{% url 'adm_interface:url' %}"><i class="icon-select2"></i> <span>URLs</span></a></li>
            <!-- /main -->


        </ul>
    </div>
</div>
<!-- /main navigation -->
     </div>
   </div>          
<!-- /main sidebar -->
<!-- Main content -->
<div class="content-wrapper">

    <!-- Page header -->
    <div class="page-header page-header-default">
        <div class="page-header-content">
            <div class="page-title">
                <h4><i class="icon-file-css position-left"></i> <span class="text-bold">Document</span></h4>
            </div>
        </div>

        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a href="{% url 'adm_interface:main' %}"><i class="icon-home2 position-left"></i> Home</a></li>
                <li class="active">Documents</li>
            </ul>
        </div>

    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">

        <!-- Dashboard content -->
        <div class="row">

            <div class="form-group" style="position:center">
                <div class="col-lg-8">
                    <textarea rows="5" cols="20" name="textarea" class="form-control" placeholder="Sanitised News will be displayed here" style="width:700px; height:250px"></textarea>
                    <br />
                </div>
                <div class="col-lg-4">
                    <button type="button" class="btn btn-primary" style="width:150px"><i class="icon-pencil3 position-left"></i> Edit</button>
                    <button type="button" class="btn btn-danger" style="width:150px"><i class="icon-cross position-left"></i> Disable</button>

                </div>
            </div>
        </div>

        <div class="row">
            <table class="table datatable-basic table-hover">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Domain Name</th>
                        <th>News</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Sports</td>
                        <td>news displayed here.......</td>
                        <td><span class="label label-success">Active</span></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Weather</td>
                        <td>news displayed here.......</td>
                        <td><span class="label label-danger">Disabled</span></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>sports</td>
                        <td>news displayed here.......</td>
                        <td><span class="label label-danger">Disabled</span></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>weather</td>
                        <td>news displayed here.......</td>
                        <td><span class="label label-success">Active</span></td>

                    </tr>
                    <tr>
                        <td>5</td>
                        <td>sports</td>
                        <td>news displayed here</td>
                        <td><span class="label label-success">Active</span></td>

                    </tr>

                </tbody>
            </table>
        </div>

    </div>
    <!-- /dashboard content -->
    <br /><br />



{% endblock %}
