{% extends 'base2.html' %}
{% load static %}
{% block content %}




<a href="{% url 'main' %}" class="active">Home</a>
<a href="{% url 'sports' %}">Sports</a>
<a href="{% url 'tech' %}">Technology</a>
<a href="{% url 'entertm' %}" class="active">Entertainment</a>
<a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
</a>
    </div>
<!-- function for responsive nav bar -->
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
<!---------------------------------- Nav bar --------------------------->
<!---------------------------------- News content  --------------------------->
<div class="main_container">
    <div class="inner_container">
        <div id="box1">
            <video controls autoplay width="100%" height="auto"
                    <source src="{% static "1.mp4" %}" type="video/mp4">
                </video>
        </div>
        <div id="box2">
            <marquee direction="up" scrollamount="2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </marquee>
        </div>
    </div>
    <div>
        <marquee direction="left" class="marquee">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium,
            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo.
        </marquee>
    </div>
</div>
<br>
<br>
<!---------------------------------- News content  --------------------------->
   {% endblock %}