<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Login admin</title>
</head>
<body>

    <h1>login page</h1>
    <br><br /><br />
    <div  style="justify-content:center; display:flex">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">User Name</label>
            <input type="text" class="form-control" id="Inputusrname" aria-describedby="emailHelp" placeholder="Enter your username">
        </div>
        <br /><br />
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="InputPassword" placeholder="Password">
        </div>
        <br /><br /><br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>

</body>
</html>